html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.custom-gradient {
  background: rgb(159, 108, 190);
  background: linear-gradient(
    180deg,
    rgba(159, 108, 190, 0.3984944319524685) 0%,
    rgba(129, 6, 102, 0) 78%
  );
}
